html,
body,
#app{
    height:100%;
    margin:0;
    padding:0;
}

.el-breadcrumb{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.el-card {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

a {
    text-decoration: none;
  }
   
  .router-link-active {
    text-decoration: none;
  }

/*    
  
.el-breadcrumb{
  margin-bottom: 7px;
  font-size:12px;
} */
/* 
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
} */

.el-table{
  margin-top: 15px;
  font-size:12px;
}

.el-pagination{
  margin-top:15px;
}